.bookmark-button {
	background-color: white;
	border: none;
	border-left: 1px solid rgba(176, 176, 176, 1);
	padding-left: 24px;
	height: 18px;

	display: flex;
	align-items: center;

	cursor: pointer;
}
